.catalog-main {
  margin-bottom: 80px; /* mb-20 */
  background-color: #f7f7f7;
}

.catalog-container {
  display: flex;
  padding-top: 20px; /* pt-5 */
  padding-bottom: 62px;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1442px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.catalog-content {
  flex: 1 1 0%; /* flex-1 */
}

/* Адаптив для планшетов (если потребуется уменьшить огромный отступ) */
@media (max-width: 1200px) {
  .catalog-container {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .catalog-container {
    flex-direction: column;
  }
}
