.FilterTopBar {
  background-color: #ffffff;
  max-width: 1100px;
  width: 100%;
  padding: 28px 32px;
  margin-bottom: 25px;
}

.FilterTopBar h2 {
  margin-bottom: 25px;
  color: #0b0d0d;
  font-size: 20px;
  font-weight: 500;
}

.options__wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.options__wrapper select {
  padding: 12px;
  max-width: 187px;
  width: 100%;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
}

.FilterTopBar__btn {
  font-size: 16px;
  padding: 12px 11px;
  transition: 0.3s;
  cursor: pointer;
  min-width: 110px;
  text-align: center;
  border-radius: 8px;
}

.prm {
  background-color: #0075b1;
  color: #ffffff;
}

.prm:hover {
  background-color: #006598;
}

.sec {
  background-color: #f7f7f7;
  color: #707070;
}

.sec:hover {
  background-color: #e1e1e1;
}

.filter-btns__wrapper {
  display: flex;
  gap: 8px;
}

select:disabled {
  opacity: 0.5;
}
