/* Сетка и скелетон */
.product-grid-loading {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  row-gap: 48px;
}

.skeleton-card {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.skeleton-image {
  height: 270px;
  border-radius: 10px;
  background-color: #ededed;
}

.skeleton-text {
  background-color: #ededed;
  border-radius: 4px;
  margin-top: 12px;
}

.skeleton-title-short {
  width: 96px;
  height: 16px;
  margin-top: 16px;
}
.skeleton-title-full {
  width: 100%;
  height: 20px;
}
.skeleton-subtitle {
  width: 160px;
  height: 16px;
  margin-top: 8px;
}
.skeleton-button {
  width: 192px;
  height: 24px;
}

.no-results {
  color: #7f7f7f;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  row-gap: 48px;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
}

.product-link {
  text-decoration: none;
  display: block;
}

.product-image-wrapper {
  position: relative;
  height: 252px;
  width: 100%;
  border-radius: 20px;
  background-color: #ededed;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-title {
  font-size: 14px;
  color: #313131;
  min-height: 42px;
  margin: 0;
  /* Эмуляция truncate */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-prices {
  display: flex;
  align-items: center;
  gap: 10px;
}

.current-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #313131;
}

.old-price {
  font-size: 12px;
  color: #707070;
  text-decoration: line-through;
  line-height: 16px;
}

.buy-button {
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #0075b1;
  color: white;
  border: none;
  cursor: pointer;
}

.buy-button:hover {
  opacity: 0.9;
}
