.AboutPage {
  max-width: 1360px;
  padding: 40px;
  margin: 0 auto;
}

.AboutPage h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.AboutPage h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.AboutPage h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.AboutPage p {
  max-width: 862px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
}

.remark {
  display: flex;
  align-items: flex-start;
  gap: 9px;
  margin-bottom: 50px;
}

.features__block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  row-gap: 48px;
}

.feature_item {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-left: 32px;
  padding-right: 40px;
  background-color: rgba(0, 101, 152, 1);
  border-radius: 10px;
  width: 100%;
}

.feature_item p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.question__block {
  background-image: url('/question-background.png');
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 80px 0;
}

.question__block .question {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  max-width: none;
}

.question__block .answer {
  font-size: 16px;
  font-weight: 400;
  max-width: 834px;
  margin: auto;
}

.benefits__block {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  row-gap: 48px;
  margin-bottom: 50px;
}

.benefits_item {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.benefits_item p {
  width: 100%;
}

.benefits_item .top {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  height: 96px;
}

.benefits_item .bottom {
  text-align: right;
  color: rgba(0, 101, 152, 1);
  font-size: 36px;
  font-weight: 500;
}

.economy__block {
  background-color: rgba(0, 101, 152, 1);
  padding: 34px;
  padding-top: 63px;
  color: #ffffff;
  background-image: url('/tire.png');
  background-position: bottom right 37px;
  background-repeat: no-repeat;
}

.economy__block .title {
  font-size: 36px;
  font-weight: 500;
  max-width: none;
}

.mission__block {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
  gap: 0;
  row-gap: 0;
  background-color: #f1f1f1;
}

.mission__block .txt {
  padding: 34px;
  max-width: 640px;
  width: 100%;
  height: 348px;
}
.mission__block img {
  max-width: 640px;
  width: 100%;
  height: 348px;
  object-fit: cover;
}

.mission__block .txt .txt_title {
  font-size: 24px;
  font-weight: 500;
}

.mission__block .txt .txt_sub {
  color: rgba(49, 49, 49, 1);
  font-size: 18px;
  font-weight: 400;
}

.AboutPage .btn {
  max-width: 240px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  margin-top: 35px;
  padding: 12px 48px;
  background-color: rgba(0, 117, 177, 1);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.AboutPage .btn:hover {
  filter: brightness(1.1);
}

@media (max-width: 1120px) {
  .mission__block .txt .txt_sub {
    font-size: 16px;
  }
}

@media (max-width: 940px) {
  .economy__block {
    padding-bottom: 100px;
  }
}

@media (max-width: 954px) {
  .mission__block img {
    max-width: none;
    min-width: 0;
    width: 100%;
    height: 348px;
    object-fit: cover;
  }
  .mission-2 {
    display: none;
  }
  .mission__block .txt {
    height: 100%;
    padding-bottom: 0;
  }
}

@media (max-width: 550px) {
  .mission__block {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .features__block {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .feature_item {
    padding: 10px;
    gap: 3px;
  }
  .feature_item img {
    width: 100px;
  }
  .feature_item p {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .mission__block .txt .txt_sub {
    font-size: 14px;
  }
  .mission__block {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
